.godTemplate{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    word-break: keep-all;
    overflow-wrap: break-word; /* Add overflow-wrap property */
    hyphens: auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
h1, p, header{
    padding-bottom: 24px;
}
h3{
    text-align: center;
}
p{
    text-align: left;
    padding: 0px 10px;
    margin-bottom: 13px;
    
}
.imageWithTextWrapper p {
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.646);
}
.imageWithText{
    width: 95%;
    height: auto;
    position: relative;
    z-index: 100;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
    cursor: pointer;
    margin: 0px 10px 0px 10px;
    margin-bottom: 8px;
    
    
}
.imageWithTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 95%; /* Adjust the width as needed */
}
.imageWithTextWrapper p{
    word-wrap: break-word;    
    width: 610px;
    color: rgba(0, 0, 0, 0.646);
    padding-right: 40px;
}


@media screen and (min-width: 620px){
    .wrapper{
        width: 610px;
    }
}