.image-start-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.imageStart {
    background: url(/public/images/greekMythology.avif);
    width: 100%;
    height: 650px; 
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    background-size: cover; 
    z-index: 1;
    bottom: 100px;
    background-position: center; 
}
.greekMythology-page-wrapper {
    display: flex;
    justify-items: center;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h1-text-wrapper {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    color: rgb(255, 255, 255);
}
.textArea{
    position: absolute;
}
.image-start-wrapper h1{
    position: absolute;
    font-size: 3vw;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
    top: 180px;
    color: rgb(255, 255, 255);
}
.image-start-wrapper p{
    position: absolute;
    font-size: 1vw;
    margin-top: 15px;
    white-space: nowrap;
    z-index: 1;
    top: 250px;
    color: rgb(255, 255, 255);
}

