.image-start-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh; /* 70% of the viewport height */
    overflow: hidden; /* Hide any overflow content */
    margin-top: -23px;
}

.imageStart {
    background: url(/public/images/greekMythology.avif);
    width: 100%;
    height: 100%; 
    position: relative; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    z-index: 1;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0px 40px;
}





.imageStart h1 {
    font-size: 2.9rem;
    position: relative;
    
}
.imageStart p{
    font-size: 1.8rem;
    position: relative;
    
}

@media (max-width: 726px) {
    .imageStart p{
        font-size: 1.3rem;    
    }
    .imageStart h1 {
        font-size: 2.5rem;  
    }
}
@media (max-width: 445px) {
    .imageStart p{
        font-size: 1.1rem;    
    }
    .imageStart h1 {
        font-size: 2.2rem;  
    }
}
@media (max-width: 354px) {
    .imageStart p{
        font-size: 0.8rem;    
    }
    .imageStart h1 {
        font-size: 2rem;  
    }
}