footer{
    background: linear-gradient(to right, rgba(255, 170, 0, 0.568), rgba(255, 214, 100, 0.831));
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

footer div{
    height: fit-content;
    position: relative;
    top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.section-1{
    width: 50%;
}


.section-2 ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.section-2 ul li{
    display: flex;
    flex-direction: column;
    
}
.section-2 ul li header{
    position: relative;
    left: -10px;
}
.section-2 ul li item{
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.section-2 ul li item:hover{
    color: rgba(0, 0, 0, 0.728);
}
#lastFooterElement{
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
    
}

#h1{
    text-align: start;
}

@media (max-width: 1003px) {
    footer div{
        flex-direction: column;
    }
    .section-1{
        text-align: center;
        margin: 0 auto;
    }
    .section-2{
        margin: 0 auto;
    }
    #h1{
        padding-left: 0px;
        text-align: center;
    }

}

@media (max-width: 698px) {

}
@media (max-width: 417px) {
    .section-2 ul{
        gap: 30px;
    }
    
}
@media (max-width: 368px) {
    .section-2 ul{
        flex-direction: column;
        text-align: center;
    }
    #lastFooterElement{
        text-align: center;
    }
}
@media (max-width: 542px) {
    .section-2{
        font-size: 10px;
    }
}