
.greekOlympians{
    margin: 0 auto;
    text-align: center;
    width: 800px;
    word-break: break-all;
}
.olympian-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.olympian-list olympian{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.first-olympian-flex-section{
    display: flex;
    flex-direction: column;
    text-align: start;
    border: none;
    
}
.first-olympian-flex-section header{
    padding-left: 20px;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    top: 20px;
}
.first-olympian-flex-section button{
    width: 36%;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.26);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    margin-top: 100px;
    font-size: 1.5rem;
}
.first-olympian-flex-section button::after {
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    content: '>';
    color: rgba(0, 0, 0, 0.343);
    transition: all 0.4s ease-in-out;
}
.first-olympian-flex-section button:hover::after {
    color: black;
}
.first-olympian-flex-section button:hover{
    border: 2px solid rgba(0, 0, 0, 0.81);
}
.first-olympian-flex-section p{
    text-align: start;
    width: 550px;
}
.olympianImage{
    /* background: url(./GreekOlympiansImages/zeus.jpg); */
    width: 256px;
    height: 340px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
}



@media screen and (max-width: 800px){
    .greekOlympians{
        width: auto;
    }
}
@media screen and (max-width: 853px){
    .olympian-list olympian{
        flex-direction: column;
        justify-content: center;
    }
    .first-olympian-flex-section button{
        margin: 0 auto;
    }
    .first-olympian-flex-section header{
        margin: 0 auto;
    }
    .first-olympian-flex-section p{
        text-align: center;
    }

    .first-olympian-flex-section{
        justify-content: center;
        margin: 0 auto;
    }
    .olympianImage{
        margin:  30px auto;
    }
    .first-olympian-flex-section p{
        width: auto;
    }
}