.greekOlympians {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    word-break: keep-all;
    overflow-wrap: break-word; /* Add overflow-wrap property */
    hyphens: auto;
  }
.olympian-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.olympian-list olympian{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.first-olympian-flex-section{
    display: flex;
    flex-direction: column;
    text-align: start;
    border: none;
    
}
.first-olympian-flex-section header{
    padding-left: 20px;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    top: 20px;
}
.buttonLink{
    width: 36%;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.26);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    
    
}
.buttonLink:hover{
    border: 2px solid rgb(0, 0, 0);
}
.buttonLink button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}





.first-olympian-flex-section p{
    text-align: start;
    width: 550px;
}
.olympianImage{
    width: 256px;
    height: 340px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
}
.button-link-wrapper{
    margin: 0 auto;
}



@media screen and (max-width: 800px){
    .greekOlympians{
        width: auto;
    }
}
@media screen and (max-width: 853px){
    .buttonLink{
        margin: 0 auto;
    }
    
    .olympian-list olympian{
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .first-olympian-flex-section header{
        margin: 0 auto;
    }
    .first-olympian-flex-section p{
        text-align: center;
    }

    .first-olympian-flex-section{
        justify-content: center;
        margin: 0 auto;
    }
    .olympianImage{
        margin:  30px auto;
    }
    .first-olympian-flex-section p{
        width: auto;
    }
}