.mythologiesUl{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 1rem;
    font-family: "Poppins",sans-serif;
    margin-bottom: 20px;
}



.mythologiesUl #collectiontext{
    text-transform: uppercase;
    color: rgb(71, 71, 71);
    font-weight: bold;
}




.mythologiesUl li button{
    background-color: transparent;
    outline: none;
    border:  1.5px solid rgba(0, 0, 0, 0.34);
    border-radius: 20px;
    width: 5rem;
    text-align: start;
    padding-left: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    color: rgba(0, 0, 0, 0.435);
}
.mythologiesUl li button:hover{
    color: black;
    border-color: black;
}
.mythologiesUl li button::after{
    content: '>';
    padding-left: 5px;
    position: absolute;
}
.featuredP{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.429);
}

#headers{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

#headers :nth-child(1){
    color: rgba(0, 0, 0, 0.555);
    font-weight: 400;
}

#headers :nth-child(2){
    font-weight: 500;
    font-size: 3rem;
}

#headers hr{
    background-color: rgb(255, 208, 0);
    height: 3px;
    width: 10%;
    border: none;
    margin: 0 auto;
}