.mythologiesUl{
    display: flex;
    list-style-type: none;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.mythologiesUl li{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 20rem;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
}
.mythologiesUl li:hover{
    background: #ebebeb;
}