.mythologiesUl{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 1rem;
    font-family: "Poppins",sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}



.mythologiesUl #collectiontext{
    text-transform: uppercase;
    color: rgb(71, 71, 71);
    font-weight: bold;
}




.mythologiesUl li button{
    background-color: transparent;
    outline: none;
    border:  1.5px solid rgba(0, 0, 0, 0.34);
    border-radius: 20px;
    width: 5rem;
    text-align: start;
    padding-left: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    color: rgba(0, 0, 0, 0.435);
}
.mythologiesUl li button:hover{
    color: black;
    border-color: black;
}
.mythologiesUl li button::after{
    content: '>';
    padding-left: 5px;
    position: absolute;
}
.featuredP{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.429);
}

#headers{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

#headers :nth-child(1){
    color: rgba(0, 0, 0, 0.555);
    font-weight: 400;
}

#headers :nth-child(2){
    font-weight: 500;
    font-size: 3rem;
    
}
.godLink{
    text-decoration: none;
    color: black;
}
#headers hr{
    background-color: rgb(255, 208, 0);
    height: 3px;
    width: 10%;
    border: none;
    margin: 0 auto;
}

#headersDiv{
    display: flex;
    flex-direction: column;
}

#threelementDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.godImageDiv1{
    background: url(Images/athenaImage.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}

.godImageDiv2{
    background: url(Images/zeusImage.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}

.godImageDiv3{
    background: url(Images/artemisImage.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}

.godImageDiv4{
    background: url(Images/heraclesImage.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}

.godImageDiv5{
    background: url(Images/achilles.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}

.godImageDiv6{
    background: url(Images/perseus.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}

.godImageDiv7{
    background: url(Images/medusa.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}

.godImageDiv8{
    background: url(Images/hydra.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}

.godImageDiv9{
    background: url(Images/cerberus.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}

.godImageDiv10{
    background: url(Images/atlas.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}

.godImageDiv11{
    background: url(Images/prometheus.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}
.godImageDiv12{
    background: url(Images/cronus.avif);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-top: 20px;
}

#headersDiv :nth-child(1){
    font-size: 22px;
}

#headersDiv :nth-child(2){
    font-size: 14px;
    color: rgba(0, 0, 0, 0.587);
    font-style: italic;
    text-transform: none;
    position: relative;
    bottom: 20px;
}


@media (max-width: 839px) {
    .mythologiesUl{
        flex-direction: column;
    }
}

@media (max-width: 973px) {
    .mythologiesUl li p{
        font-size: 0.8rem;
    }
}